body {
    margin: 0 auto;
    width: 60%;
}
header {
    margin: 1%;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 36px;
}
#shopping-list {
    text-align: center;
}
.product {
    margin: 10px 0 10px 0;
    border-bottom: 1px solid lightgrey;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
input[type=text] {
    border: 1px solid dimgray;
    height: 20px;
    width: 25%;
    border-radius: 4px;
}
#print {
    padding: 2%;
    align-items: center;
    align-content: center;
    text-align: center;
}
